@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css');
@import url('https://demo.dashboardpack.com/architectui-html-free/main.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* SEND MAIL */
#send-mail-page{
    border: 2px solid rgb(160, 45, 45);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-container {
    width: 80%;
    height: 50vh;
}
#editor{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.emailEditor{
    border: 2px solid red;
    height: 50%;
}